nav > * {
  text-align: "center";
}

ul {
  list-style-type: none;
}

.imglilbigger {
  max-width: 100%;
  height: auto;
}

.lilimg {
  height: 12em;
  width: 12em;
}

.topbuffer {
  margin-top: 1em;
}

.inlineflex {
  display: inline-flex;
  align-items: center;
}
