nav > * {
  text-align: "center";
}

ul {
  list-style-type: none;
}

.img-lil-bigger {
  max-width: 100%;
  height: auto;
}

.lil-img {
  height: 12em;
  width: 12em;
}

.top-buffer {
  margin-top: 1em;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.obviously-a-clue-of-some-kind {
  color:blueviolet
}