ul {
  list-style-type: none;
}

.imglilbigger {
  max-width: 100%;
  height: auto;
}

.lilimg {
  height: 12em;
  width: 12em;
}

.topbuffer {
  margin-top: 0.5em;
}

.inlineflex {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 768px) {
  .inlineflex {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.biglinx {
  text-align: center;
}

.biglinx a {
  color: orangered;
}
